# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

react/build
react/node_modules
react/ncp-debug.log
react/npm-debug.log
react/*.iml
.idea