<div class="panel-footer clearfix" *ngIf="paginated">

    <nav aria-label="Page navigation" class="pull-right">
        <ul class="pagination">
            <li *ngIf="paginated.offset-paginated.limit>=0">
                <a [routerLink]="[url, params(query,paginated.offset-paginated.limit)]" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[url, params(query,paginated.offset)]" aria-label="Current">
                    {{paginated.offset + (paginated.items.length>0?1:0)}}
                    <span *ngIf="paginated.items.length>1"> - {{ paginated.offset + paginated.items.length}}</span>
                    <span aria-hidden="true">из {{paginated.count}}</span>
                </a>
            </li>
            <li *ngIf="paginated.offset+paginated.limit<paginated.count">
                <a [routerLink]="[url, params(query,paginated.offset+paginated.limit)]"  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>