<div class="panel panel-default">

    <div class="panel-body">

        <error-block [error]="error"></error-block>

        <form *ngIf="form" class="form" [formGroup]="form" novalidate>

            <div class="form-group">
                <label for="loginField">Логин</label>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="loginField" placeholder="Login"
                               formControlName="login">
                        <div *ngIf="hasError('login')" class="alert alert-danger">
                            <div [hidden]="!form.hasError('required','login')">
                                Введите логин
                            </div>
                            <div [hidden]="!form.hasError('pattern','login')">
                                Недопустимые символы
                            </div>
                            <div [hidden]="!form.hasError('minlength','login')">
                                Минимальная длина {{ form.getError('minlength','login')?.requiredLength }}
                            </div>
                            <div [hidden]="!form.hasError('maxlength','login')">
                                Максимальная длина {{ form.getError('maxlength','login')?.requiredLength }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="passwordField">Пароль</label>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="form-control" id="passwordField" placeholder="Password"
                               formControlName="password" (keyup.enter)="submit()" >

                        <div *ngIf="hasError('password')" class="alert alert-danger">
                            <div [hidden]="!form.hasError('required','password')">
                                Введите пароль
                            </div>
                            <div [hidden]="!form.hasError('minlength','password')">
                                Минимальная длина {{ form.getError('minlength','password')?.requiredLength }}
                            </div>
                            <div [hidden]="!form.hasError('maxlength','password')">
                                Максимальная длина {{ form.getError('maxlength','password')?.requiredLength }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group align-center">
                <button type="button" name="Submit" class="btn btn-info " (click)="submit()">Войти</button>
            </div>

        </form>

    </div>

</div>