<div class="panel panel-default">

    <div class="panel-body">

        <error-block [error]="error"></error-block>

        <form *ngIf="form" class="form" [formGroup]="form" novalidate>

            <!--<pre>{{ form.value | json }}</pre>-->

            <div class="form-group">
                <label for="currentPasswordField">Пароль</label>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="form-control" id="currentPasswordField" placeholder="Current Password"
                               formControlName="currentPassword" >

                        <div *ngIf="hasError('currentPassword')" class="alert alert-danger">
                            <div [hidden]="!form.hasError('required','currentPassword')">
                                Введите старый пароль
                            </div>
                            <div [hidden]="!form.hasError('minlength','currentPassword')">
                                Минимальная длина {{ form.getError('minlength','currentPassword')?.requiredLength }}
                            </div>
                            <div [hidden]="!form.hasError('maxlength','currentPassword')">
                                Максимальная длина {{ form.getError('maxlength','currentPassword')?.requiredLength }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="passwordField">Новый пароль</label>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="form-control" id="passwordField" placeholder="New Password"
                               formControlName="password" >

                        <div *ngIf="hasError('password')" class="alert alert-danger">
                            <div [hidden]="!form.hasError('required','password')">
                                Введите новый пароль
                            </div>
                            <div [hidden]="!form.hasError('minlength','password')">
                                Минимальная длина {{ form.getError('minlength','password')?.requiredLength }}
                            </div>
                            <div [hidden]="!form.hasError('maxlength','login')">
                                Максимальная длина {{ form.getError('maxlength','password')?.requiredLength }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPasswordField">Повторить новый пароль</label>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="form-control" id="confirmPasswordField" placeholder="Password"
                               formControlName="confirmPassword" (keyup.enter)="submit()">

                        <div *ngIf="hasError('confirmPassword')" class="alert alert-danger">
                            <div [hidden]="!form.hasError('required','confirmPassword')">
                                Повторите новый пароль
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div *ngIf="equalsError(form.get('password'),form.get('confirmPassword'))" class="alert alert-warning">
                 Пароли не совпадают
            </div>

            <div class="form-group">
                <a type="button" id="cancelButton" class="btn btn-default" [routerLink]="url.HOME" >
                    Отменить
                </a>
                <button type="button" name="submitButton" class="btn btn-info" (click)="submit()">Сменить пароль</button>
            </div>

        </form>

    </div>

</div>