<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a *ngIf="!authenticated" [routerLink]="url.LOGIN" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-log-in"></span></a>
    </li>
    <li class="dropdown">
        <a *ngIf="authenticated" [routerLink]="url.PROFILE" class="dropdown-toggle" data-toggle="dropdown">
            <b>{{ name }}</b></a>
    </li>
    <li class="dropdown">
        <a *ngIf="authenticated" href="" (click)="logout()" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-log-out"></span></a>
    </li>
</ul>