
:host .panel.panel-default {
    border-radius: 0px;
}

:host .panel-body {
    padding: 30px 35px;
}
:host .panel-body .form-group {
    margin-bottom: 5px;
}

:host label{
	text-transform: uppercase;
    margin-top: 10px;
    padding-bottom: 5px;
}

:host input[type="text"],
:host input[type="password"] {
    background-repeat: no-repeat;
    background-position: 8px 50%;
    background-size: 16px;
    padding-left: 30px;
}

:host input#loginField {
    background-image: url(/images/icons/main8_2x.png);
}

:host input#passwordField {
    background-image: url(/images/icons/password2x.png);
}

:host button.btn.btn-info {
    margin-top: 20px;
}