{% extends "layout.html" %}
{% block content %}
<h2>{{ company.name }}</h2>
<table>
    <caption>{{ title }}</caption>
    <thead>
        <tr>
            <td>Название</td>
            {% for year in years %}
                <td>{{ year }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for indicator in company.indicators %}
        <tr>
            <td nowrap><a href="{{ url_for('get_companies',indicator = indicator.id) }}">{{ indicator.name }}({{ indicator.unit }})</a></td>
            {% for year in years %}
                {% if year in indicator.years %}
                    <td nowrap class="{{ 'negative' if indicator.digit and indicator.years[year]<=0 else '' }}">
                        <span>{{ indicator.years[year] }}</span>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}