{% extends "layout.html" %}
{% block content %}

<div>
{% for indicator in indicators %}
<span>{{ indicator.name }}</span>,
{% endfor %}
</div>

<table>
    <caption>{{ title }}</caption>
    <thead>
        <tr>
            <td>Название</td>
            {% for year in years %}
                <td>{{ year }}</td>
            {% endfor %}
        </tr>
    </thead>
    {% for sectors_id,sector in sectors.items() %}
        <tbody>
            <tr>
                <th colspan="{{ years|length+1 }}">
                    {{ sector.name }}({{ sector.count() }})
                </th>
            </tr>
            {% for company in sector.companies() %}
                <tr>
                    <td class="caption" colspan="{{ years|length+1 }}">
                        <a href="{{ url_for('get_company',company_id = company.id) }}">{{ company.name }}</a>
                    </td>
                </tr>
                {% for indicator in company.indicators %}
                    <tr>
                        <td nowrap><a href="{{ url_for('get_companies',indicator = indicator.id) }}">{{ indicator.name }}({{ indicator.unit }})</a></td>
                        {% for year in years %}
                            {% if year in indicator.years %}
                                <td nowrap class="{{ 'negative' if indicator.digit and indicator.years[year]<=0 else '' }}">
                                    <span>{{ indicator.years[year] }}</span>
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    {% endfor %}
</table>
{% endblock %}