<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
        <title>{$ title $} - fin resource</title>
        {% else %}
        <title>Welcome to fin resource</title>
        {% endif %}
    </title>

    <link rel="stylesheet" type="text/css" href="{$ url_for('static', filename='style.css') $}">

    <script src="https://unpkg.com/rxjs@5.4.3/bundles/Rx.min.js"></script>
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <script src="https://unpkg.com/vue-router@2.7.0"></script>
</head>
<body>

<div class="container" id="decision">

    <header>
        <nav>
            <li>
                <router-link :to="'home'"><h1>ResFin</h1></router-link>
            </li>
            <li>
                <router-link :to="'companies'">Компании</router-link>
            </li>
        </nav>

        {% if not session.logged_in %}
        <a class="auth">log in</a>
        {% else %}
        <a class="auth">log out</a>
        {% endif %}

    </header>

    <div class="main-wrapper">
        <router-view></router-view>
        <router-view name="sidebar"></router-view>
    </div>

    <footer></footer>

</div>

<script type="text/x-template" id="sidebar">
    <aside class="sidebar">
        <ul>
            <li><router-link :to="'companies'">Компании</router-link></li>
            <template v-for="sector in sectors.list">
                <li><router-link :to="{ name: 'companies', query: { sector: sector.id }}">{{ sector.name }}</router-link></li>
            </template>
        </ul>
    </aside>
</script>

<script type="text/x-template" id="home-page">
    <section class="main">

       <h1>Добро пожаловать</h1>

    </section>
</script>

<script type="text/x-template" id="companies-page">
    <section class="main">

        <pre>{{ companies.loading }}</pre>
        <div is="alert-loader" :loading="companies.loading"></div>
        <div is="alert-error" :error="companies.error"></div>

        <table class="companies">
            <caption> Список компаний </caption>
            <thead>
                <tr is="years-header-row" title="Название" :years="companies.years"></tr>
            </thead>
            <template v-for="(sector,key) in companies.sectors">
                <thead>
                    <tr is="sector-header-row" :sector="sector" :years="companies.years" v-on:toggle="toggleSector(sector)"></tr>
                </thead>
                <tbody>
                    <template v-for="company in sector.companies">
                        <tr is="company-header-row" :company="company" :years="companies.years" :links="links.list"></tr>
                        <tr is="indicator-row" v-for="indicator in company.indicators" :key="indicator.id" :indicator="indicator" :years="companies.years"></tr>
                    </template>
                    <tr is="sector-footer-row" :sector="sector" :years="companies.years" v-on:collapse="collapseSector(sector)"></tr>
                </tbody>
            </template>
        </table>

    </section>
</script>

<script type="text/x-template" id="company-page">
    <section class="main">

        <div is="alert-loader" :loading="company.loading"></div>
        <div is="alert-error" :error="company.error"></div>

        <h2>{{ company.model.name }}</h2>
        <table class="company">
            <caption> Информация о компании </caption>
            <thead>
                <tr is="years-header-row" title="Индикатор" :years="company.model.years"></tr>
            </thead>
            <tbody>
                <tr is="indicator-row" v-for="indicator in company.model.indicators" :key="indicator.id" :indicator="indicator" :years="years"></tr>
            </tbody>
        </table>

    </section>
</script>


{% assets "js_bundle" %}
<script type="text/javascript" src="{$ ASSET_URL $}"></script>
{% endassets %}
</body>
</html>
