<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
        <title>{$title$} - fin resource</title>
        {% else %}
        <title>Welcome to fin resource</title>
        {% endif %}
    </title>

    <link rel="stylesheet" type="text/css" href="{$ url_for('static', filename='style.css') $}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>

        function copyPast(item,link) {
            item.select();
            document.execCommand('copy');
            window.open(link, '_search');
        };

        var app = angular.module('Decision', []);

        app.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{a');
            $interpolateProvider.endSymbol('a}');
        }]);

    </script>
</head>
<body ng-app="Decision">

    <div class="container">

        <header>
            <nav>
                <li><a href="#"><h1>ResFin</h1></a></li>
                <li><a href="{$ url_for('get_companies') $}">Компании</a></li>
                <li><a href="#">Link</a></li>
            </nav>

            {% if not session.logged_in %}
            <a class="auth">log in</a>
            {% else %}
            <a class="auth">log out</a>
            {% endif %}

        </header>

        <div class="main-wrapper">
            <section class="main">
                {% block content %}{% endblock %}
            </section>
            <aside class="sidebar">
                <ul>
                    <li><a href="{$ url_for('get_companies') $}">Компании</a></li>
                    <li>Выбор</li>
                </ul>
            </aside>
        </div>

        <footer></footer>

    </div>
</body>
</html>

