Options -Indexes +ExecCGI
AddHandler cgi-script .py
DirectoryIndex cgi.py

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /cgi.py/$1 [L]