
<div class="panel panel-default">

    <div class="panel-heading clearfix">
        <div class="col-md-12">
            <div class="media-object pull-right" *ngIf="user">
                <a type="button" id="editButton" class="btn btn-info" [routerLink]="[url.PROFILE, 'edit']">Редактировать</a>
                <a type="button" id="passwordButton" class="btn btn-info" [routerLink]="[url.PASSWORD]">Сменить пароль</a>
            </div>
        </div>
    </div>

    <!--<pre> {{ form.value | json }} </pre>-->
    <!--<pre> {{ form.get('login').errors | json }} </pre>-->
    <!--<pre> {{ form.get('roles').errors | json }} </pre>-->

    <div class="panel-body">

        <error-block [error]="error"></error-block>

        <form *ngIf="user" class="form" novalidate>

            <div class="form-group">
                <label for="loginField">Логин</label>
                <div class="row">
                    <div class="col-md-8">
                        <p class="form-control-static" id="loginField">{{ user.login }}</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="emailField">E-mail</label>
                <div class="row">
                    <div class="col-md-8">
                        <p class="form-control-static" id="emailField">{{ user.email }}</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="nameField">ФИО</label>
                <div class="row">
                    <div class="col-md-8">
                        <p class="form-control-static" id="nameField">{{ user.name }}</p>
                    </div>
                </div>
            </div>

        </form>

    </div>

</div>
