<!--<div class="page-title">-->
  <!--<h2>{{ 'Карточка пользователя' }}</h2>-->
<!--</div>-->

<div class="panel panel-default">

    <div class="panel-heading clearfix">
        <div class="col-md-6">
            <div class="media-object">
                <a type="button" id="listButton" class="btn btn-default" [routerLink]="url.USERS" >
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Пользователи
                </a>
             </div>
        </div>
        <div class="col-md-6">
            <div class="media-object pull-right" *ngIf="user">
                <button type="button" id="disableButton" class="btn btn-default" (click)="enable()" *ngIf="!user.current && user.loginEnabled">Заблокировать</button>
                <button type="button" id="enableButton" class="btn btn-default" (click)="enable()" *ngIf="!user.current && !user.loginEnabled">Разблокировать</button>
                <button type="button" id="removeButton" class="btn btn-warning" (click)="remove()" *ngIf="!user.current">Удалить</button>
                <a type="button" id="editButton" class="btn btn-info" [routerLink]="[url.USERS, user.login, 'edit']">Редактировать</a>
            </div>
        </div>
    </div>

    <!--<pre> {{ form.value | json }} </pre>-->
    <!--<pre> {{ form.get('login').errors | json }} </pre>-->
    <!--<pre> {{ form.get('roles').errors | json }} </pre>-->

    <div class="panel-body">

        <error-block [error]="error"></error-block>

        <form *ngIf="user" class="form" novalidate>

            <div class="form-group">
                <label for="loginField">Логин</label>
                <div class="row">
                    <div class="col-md-8">
                        <p class="form-control-static" id="loginField">{{ user.login }}</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="emailField">E-mail</label>
                <div class="row">
                    <div class="col-md-8">
                        <p class="form-control-static" id="emailField">{{ user.email }}</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="nameField">ФИО</label>
                <div class="row">
                    <div class="col-md-8">
                        <p class="form-control-static" id="nameField">{{ user.name }}</p>
                    </div>
                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<label for="passwordField">Пароль</label>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-8">-->
                        <!--<p class="form-control-static" id="passwordField">{{ user.password }}</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label for="nameField">Роли</label>
                <div class="row">
                    <div class="col-md-8">
                        <p class="form-control-static" id="rolesField">
                            <span *ngFor="let role of user.roles">{{ role }}</span>
                        </p>
                    </div>
                </div>
            </div>


        </form>

    </div>

</div>
