:host main#main {
    background-color: #fff;
}

:host .row-offcanvas {
	padding-top:60px;
	height: 100%;
	height: -webkit-calc(100% - 33px);
	height: -moz-calc(100% - 33px);
	height: calc(100% - 33px);
}

:host #sidebar {
  width: inherit;
  min-width: 250px;
  max-width: 250px;
  background-color:#1e344d;
  float: left;
  height:106%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}

:host #sidebar > div.col-md-12 {
	padding:0px;
	padding-top: 10px;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
.row-offcanvas {
	padding-top:60px;
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
	height: calc(100% - 33px);
}

  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}