:host {
	background-color: #15224f;
}

:host nav.navbar{
	min-height: 60px;
	height: 60px;	
}

:host nav.navbar.navbar-inverse {
    background-color: #1a283a;
    border-color: transparent;
}

:host a.navbar-brand{
    height: 60px;
	width: 210px;
    padding: 15px 15px;
    font-size: 0px;
    line-height: 30px;
	background-position: 20px 50%;
    background-repeat: no-repeat;
    background-size: 182px;
	background-image: url('/images/icons/Logo_2x.png');
}
:host .navbar-right{
	margin-right:30px !important;
}