
<ul class="nav nav-pills nav-stacked">

    <li [allow]="Grant.RATE_GROUPS">
        <a class="zones" [routerLink]="url.RATE_GROUPS" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Тарифные зоны</a>
    </li>
    <li [allow]="Grant.PERMIT_TYPES">
        <a class="permits" [routerLink]="url.PERMIT_TYPES" routerLinkActive="active">Типы разрешений</a>
    </li>
    <li [allow]="Grant.PARKING_AREAS">
        <a class="areas" [routerLink]="url.PARKING_AREAS" routerLinkActive="active">Парковочные зоны</a>
    </li>
    <li [allow]="Grant.PARKING_LOTS">
        <a class="parking" [routerLink]="url.PARKING_LOTS" routerLinkActive="active">Парковочные объекты</a>
    </li>
    <li [allow]="Grant.CLIENTS">
        <a class="clients" [routerLink]="url.CLIENTS" routerLinkActive="active">Клиенты</a>
    </li>
    <li [allow]="Grant.REPORTS">
        <a class="reports" [routerLink]="url.REPORTS" routerLinkActive="active">Отчеты</a>
    </li>
    <li [allow]="Grant.ADMIN_MANAGE">
        <a class="users" [routerLink]="url.USERS" routerLinkActive="active">Пользователи</a>
    </li>
    <li [allow]="Grant.ADMIN_MANAGE">
        <a class="roles" [routerLink]="url.ROLES" routerLinkActive="active">Роли</a>
    </li>
    <li [allow]="Grant.ADMIN_MANAGE">
        <a class="grants" [routerLink]="url.GRANTS" routerLinkActive="active">Права (ролей)</a>
    </li>
    <li [allow]="Grant.CALENDAR">
        <a class="days" [routerLink]="url.DAY_TYPES" routerLinkActive="active">Типы дня</a>
    </li>
    <li [allow]="Grant.CALENDAR">
        <a class="calendar" [routerLink]="url.CALENDAR" routerLinkActive="active">Календарь</a>
    </li>
    <li [allow]="Grant.CAR_TYPES">
        <a class="cars" [routerLink]="url.CAR_TYPES" routerLinkActive="active">Классы автомобилей</a>
    </li>
</ul>