
/*:host {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 250px;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*list-style: none;*/
/*}*/

:host li {
    line-height: 20px;
}

:host li a {
    display: block;
    text-decoration: none;
    /*color: #999999;*/
}

:host li a:hover {
    text-decoration: underline;
    /*color: #fff;*/
    /*background: azure;*/
}

:host li a:active,
:host li a:focus {
    text-decoration: none;
    color: dodgerblue;
}

:host > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

:host > .sidebar-brand a {
    color: #999999;
}

:host > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

:host ul > li > a{
	border-radius: 0px;
    color: #778fa6;
    text-transform: uppercase;
    padding-left: 44px;
    background-position: 20px 50%;
    background-repeat: no-repeat;
    background-size: 14px;
}
:host ul > li > a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #1e344d;/*#50b9ff; azure; */
}
:host ul > li > a.active {
    color: #fff;
    background-color: #50b9ff;
}


:host ul > li > a.zones{
	background-image: url('/images/icons/main1_2x.png');
}
:host ul > li > a.zones:hover,
:host ul > li > a.active.zones{
	background-image: url('/images/icons/main1_2xwhite.png');
}

:host ul > li > a.permits{
	background-image: url('/images/icons/main2_2x.png');
}
:host ul > li > a.permits:hover,
:host ul > li > a.active.permits{
	background-image: url('/images/icons/main2_2xwhite.png');
}

:host ul > li > a.areas{
	background-image: url('/images/icons/main3_2x.png');
}
:host ul > li > a.areas:hover,
:host ul > li > a.active.areas{
	background-image: url('/images/icons/main3_2xwhite.png');
}

:host ul > li > a.parking{
	background-image: url('/images/icons/main4_2x.png');
}
:host ul > li > a.parking:hover,
:host ul > li > a.active.parking{
	background-image: url('/images/icons/main4_2xwhite.png');
}

:host ul > li > a.clients{
	background-image: url('/images/icons/main5_2x.png');
}
:host ul > li > a.clients:hover,
:host ul > li > a.active.clients{
	background-image: url('/images/icons/main5_2xwhite.png');
}

:host ul > li > a.reports{
	background-image: url('/images/icons/main6_2x.png');
}
:host ul > li > a.reports:hover,
:host ul > li > a.active.reports{
	background-image: url('/images/icons/main6_2xwhite.png');
}

:host ul > li > a.users{
	background-image: url('/images/icons/main7_2x.png');
}
:host ul > li > a.users:hover,
:host ul > li > a.active.users{
	background-image: url('/images/icons/main7_2xwhite.png');
}

:host ul > li > a.roles{
	background-image: url('/images/icons/main8_2x.png');
}
:host ul > li > a.roles:hover,
:host ul > li > a.active.roles{
	background-image: url('/images/icons/main8_2xwhite.png');
}

:host ul > li > a.grants{
	background-image: url('/images/icons/main9_2x.png');
}
:host ul > li > a.grants:hover,
:host ul > li > a.active.grants{
	background-image: url('/images/icons/main9_2xwhite.png');
}

:host ul > li > a.days{
	background-image: url('/images/icons/main10_2x.png');
}
:host ul > li > a.days:hover,
:host ul > li > a.active.days{
	background-image: url('/images/icons/main10_2xwhite.png');
}

:host ul > li > a.calendar{
	background-image: url('/images/icons/main11_2x.png');
}

:host ul > li > a.calendar:hover,
:host ul > li > a.active.calendar{
	background-image: url('/images/icons/main11_2xwhite.png');
}

:host ul > li > a.cars{
	background-image: url('/images/icons/main12_2x.png');
}

:host ul > li > a.cars:hover,
:host ul > li > a.active.cars{
	background-image: url('/images/icons/main12_2xwhite.png');
}