
    {% for indicator in company.indicators %}
        <tr>
            <td nowrap><a href="{$ url_for('get_companies',indicator = indicator.id) $}">{$ indicator.name $}</a>
                <span class="unit">({$ indicator.quantity if indicator.quantity else '' $}{$ indicator.unit $})</span>
                {% if indicator.weight>0 %}
                    <span class="weight positive">{$ indicator.weight $}</span>
                {% elif indicator.weight<0 %}
                    <span class="weight negative">{$ indicator.weight $}</span>
                {% endif %}
            </td>
            {% for year in years %}
                {% if year in indicator.years %}
                    {% if indicator.digit and indicator.years[year]>0 %}
                        <td nowrap class="digit">
                            <span>{$ indicator.years[year]|price $}</span>
                        </td>
                    {% elif indicator.digit and indicator.years[year]<0 %}
                        <td nowrap class="digit negative">
                            <span>{$ indicator.years[year]|price $}</span>
                        </td>
                    {% elif indicator.digit and indicator.years[year]==0 %}
                        <td nowrap class="digit zero">
                            <span>{$ indicator.years[year]|price $}</span>
                        </td>
                    {% else %}
                        <td>
                            <span>{$ indicator.years[year] $}</span>
                        </td>
                    {% endif %}
                {% else %}
                    {% if year|int == years[-1]|int  %}
                        <td class="empty">
                        </td>
                    {% else %}
                        <td>
                        </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
